<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <img src="/Assets/images/bg.jpeg" class="center">
      </div>

      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1 class="text-center"><strong>Titans Library</strong></h1>
          <h2>Welcome to Titans Library - Where Stories Unfold and Knowledge Thrives!</h2>
          <p>Step into a world where books whisper tales of the past, present, and future. At Titans Library, we open our doors to a universe of knowledge, adventure, and imagination.</p>
          <p><strong>Discover Limitless Worlds:</strong> Our shelves hold treasures that transport you to distant lands, unravel mysteries, and ignite your curiosity.</p>
          <p><strong>A Haven for Book Lovers:</strong> Whether you seek the classics, the latest bestsellers, or niche subjects, Titans Library is your sanctuary.</p>
          <p><strong>Community Hub:</strong> Join a community passionate about learning, sharing insights, and fostering a love for literature.</p>
          <p>Let the pages of our books be your gateway to countless adventures. Welcome to Titans Library - your portal to boundless exploration!</p>
        </div>
      </div>
    </div>
    
<% include ../partials/footer.ejs %>


